
{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

    <body>
        <br>

        <div class="container bg-white shadow-sm p-5 form-layout">

            <h3> Account deletion </h3>

            <hr>

            <p> Are you sure you want to delete your account? </p>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                <!-- TODO delete at backend -->

                <button type="submit" class="btn btn-danger navbar-btn text-white">  Delete your account </button>

                <br> <br>

                <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}"> <i class="fa fa-arrow-left text-white" aria-hidden="true"></i> &nbsp; Go back </a>


            </form>

        </div>

    </body>

    <br>

{% endblock %}
